<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Data in graph</title>
</head>

<body>
    <div class="container mt-5">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
        <a href="{% url 'home' %}">Home</a>
        <br>
        <a href="{% url 'graph_by_days' 1 %}">1D</a>
        <a href="{% url 'graph_by_days' 5 %}">5D</a>
        <a href="{% url 'graph_by_days' 30 %}">1M</a>
        <a href="{% url 'graph_by_days' 180 %}">6M</a>
        <a href="{% url 'graph_by_days' 365 %}">1Y</a>
        <a href="{% url 'graph_by_days' 1825 %}">5Y</a>
        <br>


        Bar Type
        <div class="container-div">
            <div class="controls-div">
                <select name="chartType" id="chartType" onchange="changeChartType(this.value)">

                    <option value="bar" {% if chart_type == 'bar' %} selected {% endif %}>bar</option>
                    <option value="line" {% if chart_type == 'line' %} selected {% endif %}>line</option>

                </select>
            </div>

        </div>


        


        <canvas width="720" height="480" id="chartcanvas"></canvas>
        <script>
            function changeChartType(chartType){
                console.log(chartType)
                var days
                var url = '/graph/365/'+chartType
                location.href=url
            }

            function showChart() {
                var covidData = JSON.parse('{{ covid_data|safe }}');
                var charType = '{{ chart_type|safe }}';
                console.log(charType)
                var dates = covidData['dates']
                var newConfirmed = covidData['confirmed']
                var NewDeaths = covidData['deaths']
                var NewRecovered = covidData['recoveres']
                var ctx = document.getElementById("chartcanvas").getContext("2d");

                var chart = new Chart(ctx, {
                    type: charType,
                    data: {
                        labels: dates,
                        datasets: [{
                            backgroundColor: "rgba(300, 200,0)",
                            // borderColor: "rgb(5,0,0)",
                            data: newConfirmed,
                            label: "newConfirmed",
                            fill: false
                        }, {
                            backgroundColor: "rgba(900, 3,8)",
                            // borderColor: "rgba(0,127,0,0.001)",
                            data: NewDeaths,
                            label: "NewDeaths",
                            fill: false
                        }, {
                            backgroundColor: "rgba(0, 200,0)",
                            // borderColor: "rgba(239,0,50,0.01)",
                            data: NewRecovered,
                            label: "NewRecovered",
                            fill: false
                        }

                        ]
                    },
                    options: {
                        responsive: false,
                        legend: {
                            display: true,
                            position: "bottom",
                            align: "end",
                            labels: {
                                fontsize: 16,
                                fontcolor: "red",
                                boxwidth: 20,
                            }
                        }
                    }
                }
                )

            }


            showChart()

            // var chartType = JSON.parse('{{ chart_type|safe }}')



        </script>

    </div>







    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>